body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #FFF9CC;
}

a {
  color: #00B7FF;
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

.section {
    border-radius: 10px;
    padding: 20px;
    background-color: #FFCCD9;
}